nav {
    background-color: blueviolet;
    text-align: center;
}

nav, 
button {
    color: whitesmoke;
}

nav h1 {
    padding: 5px;
   
}

.Form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.Inputs {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.InputTag {
    height: 30px;
    border-radius: 5px;
    border: 2px solid blueviolet;
    padding: 10px 3px;
}

.InputTag:focus {
    border: 2px solid salmon;
}

button {
    margin: auto;
    max-width: 380px;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    background-color: blueviolet;
    cursor: pointer;
}

.Meme {
    display: flex;
    position: relative;
    margin-top: 20px;
    justify-content: center;
    
}

.memeImage {
    max-width: 100%;
    height: 400px;
    margin: 0px 10px;
}

.memeText {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

@media screen and (max-width: 550px) {
    .Inputs {
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .InputTag {
        height: 30px;
        border-radius: 5px;
        padding: 5px 2px;
    }

    button {
        margin-top: 10px
    }

    Form {
        margin-top: 15px;
    }
  }